.car-info-head {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    gap: 40px;
    padding-top: 30px;
}

.car-info-right-card {
    width: 600px;
    background-color: #130950;
    padding: 10px;
}

.car-infomation-card {
    width: 600px;
    background-color: #130950;
}

@media screen and (max-width: 680px) {
    .car-info-head {
        width: 96%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: auto;
        gap: 40px;
        padding-top: 30px;
    }
    
    .car-infomation-card{
        width: 96%;
        margin: auto;
    }

    .car-info-right-card{
        width: 96%;
        margin: auto;
    }
}
