.companyInfo-flex-content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 1100px;
    margin: auto;
    gap: 30px;
}

.companyInfo-head {
    width: 1200px;
    padding: 20px;
    background-color: #130950;
    margin: auto;
    border-radius: 12px;
}

@media screen and (max-width: 680px) {
    .companyInfo-flex-content {
        width: 96%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .companyInfo-head {
        width: 96%;
        margin: auto;
        padding: 0;
    }

    .companyInfo-car-list-head{
        text-align: center;
        background-color: #130950;
        border-radius: 10px;
    }
}