.hero-header {
    position: relative;
    padding-top: 28px;
    z-index: 999;
}

.hero-footer {
    position: relative;
    z-index: 999;
    bottom: 0;
}

.hero-text {
    font-family: "Gotham Rounded";
    font-weight: 500;
    font-size: 34px;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #ffffff;
    text-align: center;
}

.head-input-create {
    width: 900px;
    margin: auto;
    background-color: black;
    height: 78px;
    align-items: center;
} 

.input-text {
    font-family: Gotham Rounded;
    font-weight: 300;
    font-size: 22px;
    margin-bottom: 0;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #ffffff;
    padding-left: 35px;
}

.google-lance-logo {
    width: 50px;
    height: 50px;
    margin-right: 12px;
}

.micke-icon {
    width: 46px;
    height: 46px;
    color: #7670FF;
    margin-right: 12px;
}

.submit-icon-head {
    width: 58px;
    height: 58px;
    background-color: #F800C0;
    text-align: center;
    margin-bottom: 0;
    margin-right: 10px;
    align-items: center;
}

.submit-icon {
    width: 32px;
    height: 32px;
    color: #ffffff;
    margin-top: 10px;
    rotate: 45% !important;
}

.hero-images {
    width: 170px;
    height: 120px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hero-images:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  }
  

.hero-image-group {
    max-width: 1100px;
    margin: auto !important;
    display: flex;
    justify-content: center;
}

.hero-robot {
    width: 160px;
    height: 160px;
}

.hero-images-head {
    margin: auto !important;
    padding-left: 8px !important;

}

.hero-image-group-mobile{
    display: none;
}

.mobile-view-robot{
    display: none;
}

.main-home{
    position: relative; /* not absolute */
    width: 100%;
    padding-bottom: 30px; /* leave space for fixed footer */
    z-index: 2;
}

.card-tag{
    position: absolute;
    font-size: 14px;
    font-weight: 500;
    background-color: #F800C0;
    padding: 0px 15px;
    z-index: 999;
    border-radius: 10px;
    color:#ffffff;
    /* margin: 0; */
    /* margin-left: -30px !important; */
}

.card-robot-tag{
    position: absolute;
    width: 80px;
    height: 60px;
    z-index: 999;
    margin-left: -50px;
    margin-top: -64px;
}

.car-tag-head{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 680px) {
    .head-input-create {
        width: 360px;
        margin: auto;
        height: 40px;
    }

    .hero-image-group {
        max-width: 360px;
        margin: auto;
    }

    .hero-text {
        font-size: 16px;
    }
    
    .submit-icon {
        width: 22px;
        height: 22px;
        margin-top: 0px;
    }

    .input-text {
        font-weight: 300;
        font-size: 14px;
        padding-left: 15px;
    }

    .google-lance-logo {
        width: 26px;
        height: 26px;
    }
    
    .micke-icon {
        width: 26px;
        height: 26px;
        color: #7670FF;
    }
    
    .submit-icon-head {
        width: 30px;
        height: 30px;
        margin-right: 8px;
    }

    .hero-image-group-mobile{
        max-width: 360px;
        margin: auto !important;
        display: flex;
        justify-content: center;
        align-items: center; 
    }

    .hero-image-group{
        display: none;
    }

    .hero-images-mobile{
        width: 110px;
        height: 65px;
        padding: 5px;
    }

    .mobile-view-robot{
        display: block;
        width: 180px;
        height: 180px;
    }

    .mobile-view-robot-head{
        text-align: center;
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 360px) {
    .google-lance-logo {
        margin-right: 5px !important;
    }
    
    .micke-icon {
        margin-right: 5px !important;
    }
    
    .submit-icon-head {
        margin-right: 5px !important;
    }

    .head-input-create {
        width: 300px;
        margin: auto;
        height: 40px;
    }

    .input-text{
        font-size: 10px;
    }
}
