.carslist-home {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}

.head-input-create-home {
    /* width: 70%; */
    /* margin: auto; */
    background-color: black;
    height: 64px;
    align-items: center;
}

.input-text-home {
    font-family: "Gotham Rounded";
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 0;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #ffffff;
    padding-left: 22px;
}

.micke-icon-home {
    height: 34px;
    width: 34px;
}

.submit-icon-head-home {
    width: 48px;
    height: 48px;
    background-color: #F800C0;
    text-align: center;
    margin-bottom: 0;
    margin-right: 8px;
    align-items: center;
}

.submit-icon-home {
    width: 22px;
    height: 22px;
    color: #ffffff;
    margin-top: 10px;
    rotate: 45% !important;
}


.button-group-home {
    width: 255px;
    height: 38px;
    border-radius: 90px;
    border-width: 1px;
    border: 1px solid;
    text-align: center;
    align-items: center;
    border-color: #7670FF;
}

.clicked-button {
    width: 84px;
    background: linear-gradient(to right, #7670FF, #5B42FF);
    border-color: linear-gradient(to right, #7670FF, #5B42FF);
}

.button-group-home button {
    /* padding-top: 10px; */
    font-size: 12px;
    padding: 8px;
    width: 84px;
    font-weight: 400 !important;
    color: #FFFFFF !important;
}

.dropdown-head {}

.dropdown-button-filter {
    height: 38px;
    color: #FFFFFF;
    font-size: 14px;
    background: linear-gradient(to right, #7670FF, #5B42FF);
    border-color: linear-gradient(to right, #7670FF, #5B42FF);
}


.home-flex-content {
    display: flex;
    justify-content: space-between;
    width: 1100px;
    margin: auto;
    gap: 30px;
}

.car-product-list-head {
    width: 700px;
    padding: 20px;
    background-color: #130950;
    border-radius: 10px;
}

.car-image {
    width: 290px;
    height: 120px;
}

.car-card-button {
    width: 240px;
    border: none;
    margin-left: 20px;
    background: linear-gradient(to top, #F800C0, #FE8A70);
    color: #FFFFFF;
    font-size: 12px;
}

.card-detials {
    width: 290px;
    background-color: #09061f;
    padding-bottom: 12px;
    border-radius: 0 0 12px 12px;
    margin: auto;
}

.load-more-btn {
    width: 125px;
    border-radius: 90px;
    padding: 6px 0px;
    font-size: 14px !important;
    font-weight: 400 !important;
    color: #FFFFFF !important;
    background: linear-gradient(to right, #7670FF, #5B42FF);
    border: none;
    margin: auto;
}

.queary-ai-first {
    width: 500px;
    margin: auto;
    padding-top: 60px;
}

.card-text-head h3 {
    font-size: 14px;
}

.card-text-head p {
    font-size: 12px;
}

.card-text-head h4 {
    font-size: 13px;
}

.card-head {
    position: relative;
}

.add-logo-img {
    position: absolute;
    top: 104px;
    left: 75%;
    height: 40px;
    width: 44px;
}

.card-main {
    display: grid;
    grid-template-columns: auto auto;
}


@media screen and (max-width: 680px) {
    .home-flex-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 400px;
    }

    .queary-ai-first {
        width: 400px;
        /* margin: auto; */
        padding-top: 60px;
    }

    .car-product-list-head {
        width: 400px;
        padding: 10px;
        background-color: #130950;
        border-radius: 10px;
    }

    .card-head {
        width: 100%;
    }

    .card-main {
        display: grid;
        grid-template-columns: auto auto;
    }

    .car-image {
        width: 180px;
        height: 90px;
    }

    .card-detials {
        width: 180px;
        background-color: #09061f;
        padding-bottom: 12px;
        border-radius: 0 0 12px 12px;
        margin: auto;
    }

    .card-text-head h3 {
        font-size: 10px;
    }

    .card-text-head p {
        font-size: 8px;
    }

    .card-text-head h4 {
        font-size: 9px;
    }

    .car-card-button {
        width: 160px;
        background: linear-gradient(to top, #F800C0, #FE8A70);
        color: #FFFFFF;
        margin-left: 10px;
        font-size: 12px;
    }

    .add-logo-img {
        position: absolute;
        top: 90px;
        left: 75%;
        height: 30px;
        width: 32px;
    }

    .card-header-text {
        font-size: 16px;
    }

    .dropdown {}

    .dropdown-button-filter {
        height: 32px;
        width: 140px;
        font-size: 14px !important;
        margin-bottom: -10px;
        background: linear-gradient(to right, #7670FF, #5B42FF);
        border-color: linear-gradient(to right, #7670FF, #5B42FF);
    }

    .button-group-home {
        height: 32px;
        width: 200px;
        border-radius: 90px;
        border-width: 1px;
        border: 1px solid;
        text-align: center;
        align-items: center;
        border-color: #7670FF;
        margin: 4px 0 4px 0;
    }

    .button-group-home button {
        height: 32px !important;
        font-size: 12px !important;
        /* padding: 6px; */
        align-items: center;
        width: 65.5px;
        font-weight: 400 !important;
        color: #FFFFFF !important;
    }

    .card-product-header{
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        align-items: start;
        text-align: start;
    }
}

.card-product-header{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}