.faq-section {
    /* padding: 30px; */
    font-family: Arial, sans-serif;
    color: #fff;
    /* width: 1200px; */
    /* margin: auto; */
  }
  
  .faq-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    gap: 10px;
  }
  
  .faq-header h3 {
    color: #fff;
    margin: 0;
  }
  
  .faq-tabs {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }
  
  .faq-tab-button {
    background: none;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 20px;
  }
  
  .faq-tab-button.active {
    color: #F800C0;
  }
  
  .faq-item {
    border: 1px solid #2a2a72;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #1a1a40;
    padding: 15px;
  }
  
  .faq-question {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;
  }
  
  .faq-answer {
    margin-top: 10px;
    color: #aaa;
    font-size: 14px;
  }
  
  /* Responsive adjustments */
  @media (max-width: 680px) {
    .faq-tabs {
      justify-content: flex-start;
      gap: 8px;
    }
  
    .faq-tab-button {
      font-size: 18px;
    }
  
    .faq-answer {
      font-size: 13px;
    }

    .faq-section{
        width: 96%;
        margin: auto;
    }
  }
/*   
  @media (max-width: 480px) {
    .faq-tab-button {
      font-size: 16px;
    }
  
    .faq-section {
      padding: 20px 15px;
    }
  }
   */