.mobile-menu-icon {
    display: none;
    cursor: pointer;
    color: #000;
  }
  
  .mobile-sidebar {
    display: none;
  }

  .desktop-menu{
    display: block;
  }

  .header-head {
    width: 94%;
    margin: auto;
  }

  .logo{
    width: 220px;
    height: 52px;
  }
  
  .signin-btn {
    width: 100px;
    height: 42px;
    border-radius: 90px;
    font-size: 14px !important;
    font-weight: 400 !important;
    color: #FFFFFF !important;
    background: linear-gradient(to right, #7670FF, #5B42FF);
    border-color: linear-gradient(to right, #7670FF, #5B42FF);
}

.signin-btn:hover{
    background: linear-gradient(to right, #5B42FF, #7670FF);
    border-color: linear-gradient(to right, #5B42FF, #7670FF);
}

.button-group {
    width: 210px;
    height: 42px;
    border-radius: 90px;
    border-width: 1px;
    border: 1px solid;
    text-align: center;
    align-items: center;
    border-color: #7670FF;
}

.button-group button {
    padding-top: 10px;
    font-size: 14px;
    font-weight: 400 !important;
    color: #FFFFFF !important;
}

.open-icon {
    color: #FFFFFF;
    /* padding-right: 20px; */
}

  @media screen and (max-width: 680px) {
    .navbar .desktop-menu {
      display: none !important;
    }
  
    .mobile-menu-icon {
      display: block;
    }
  
    .mobile-sidebar {
      position: fixed;
      top: 0;
      right: -250px;
      width: 250px;
      height: 100%;
      background-color: #fff;
      box-shadow: -2px 0 5px rgba(0,0,0,0.2);
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      transition: right 0.3s ease-in-out;
      z-index: 999;
    }
  
    .mobile-sidebar.open {
      right: 0;
    }
  
    .mobile-sidebar button {
      margin-bottom: 15px;
      width: 100%;
      text-align: left;
      font-size: 18px;
      font-weight: 500;
    }

    .logo {
        width: 160px;
        height: 42px;
    }
  }
  